body{
	font-family: 'Open Sans', sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
nav .nav, nav .nav-logo {
	margin: 1rem;
	display: inline;
}
nav{
	background-color: white;
	padding: 10px;
	margin: 50x;
	position: sticky;
}
.navtop {
    position: sticky;
    top: 0;
    background-color: #fff;
}


ul{
	margin: 0 8rem;
}

.header{
	text-align: center;
}
.right-nav{
	float: right;
	padding: 4px;

}

#bg-image{
	background-image: url(https://lh4.googleusercontent.com/proxy/vnrU_-Gaj4Fnca-KM__paIIzo1H0ROp0LXgT32efgiPjRpAYDYa9Rfyo2pA2ExzGoA7G30i3lSQuUWtz_ga5l6oKq6ANiGSg1T7GeB0FPJPgZHu_wRz8lqPhr_o=w1459-h950);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-attachment: scroll;
	}

.front-bg{
		background-color:rgba(0, 0, 0, 0.5);
	min-height: 35vh;
}	

.right-nav button{
	width: 50pxS;
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 12px;
	border-radius: 25px;
	padding: .5rem 1.5rem .5rem 1.5rem;
	border: none;
}
.apply-button{
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	border-radius: 25px;
	padding: .5rem 2rem .5rem 2rem;
	border: none;

	
}
.book-button{
	color: white;
	font-weight: bold;
	background-color: #336589;
	font-size: 1rem;
	border-radius: 25px;
	padding: .5rem 2rem .5rem 2rem;
	border: none;
}
.title{
	font-family: zilla slab;
	font-size:3.5rem;
	font-weight: bold;
}

.subtitle{
	margin:1rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;

}
.container{
	color: white;
	text-align: right;
	margin:0 9rem 0 41rem;

}

.title-2{
	font-family: zilla slab;
	font-size: 3rem;
}

.intro{
	margin: 30px;
	text-align: center;
	margin: 7rem 0 7rem 0;
}
.pre-footer{
	background-color: #f7fbfb;
	margin: 30px;
	 padding: 70px 0;
	text-align: center;
	margin: 7rem 0 7rem 0;

}
.prefooter-description{
	padding: 0 10rem 0 10rem;
	font-size: 1.2rem;
	margin-top: 30px;
}

.intro-description{
	padding: 0 10rem 0 10rem;
	text-align: justify;
	font-size: 1.2rem;
	margin-top: 30px;
}


footer{
	text-align: center;
}

span{
	margin: 0 5px 0 5px;
}